/* ===========================
   BOTÃO VOLTAR AO TOPO
=========================== */

#backTop{
    position:fixed;
    left:30px;
    bottom:30px;
    width:60px;
    height:60px;
    border:none;
    border-radius:50%;
    background:var(--primary);
    color:white;
    font-size:22px;
    cursor:pointer;
    opacity:0;
    visibility:hidden;
    transition:.4s;
}

#backTop.show{
    opacity:1;
    visibility:visible;
}

#backTop {
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: var(--primary);
    color: white;
    font-size: 18px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    z-index: 999;
}

#backTop.show {
    opacity: 1;
    visibility: visible;
}