* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif; /* Mudei para Manrope aqui para padronizar */
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
    color: #1E293B;
    line-height: 1.6;
    overflow-x: hidden; /* Evita que o site "balance" para os lados no mobile */
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}